@font-face {
  font-family: GothamUltra;
  src: url("/public/asset/GothamUltra.otf") format("opentype");
}
.slider {
  width: 100%;
  height: 520px;
  object-fit: cover;
  -webkit-filter: brightness(50%); /* Safari 6.0 - 9.0 */
  filter: brightness(50%);
  z-index: 1;
  position: relative;
}

.slider-font{
  text-align: center;
  position: absolute;
  color: white;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -o-transform: translate(-50%);
}
